<div  style="width:100%;height:100%; background-color: darkgray">
  <div class="navigation-tool">
    <app-navigation></app-navigation>
  </div>
  <mat-grid-list cols="4" gutterSize="5px">
    <div *ngFor="let band of bands">
      <mat-grid-tile style="margin-top:5px;margin-bottom: 5px;">
        <mat-card class="example-card">
          <mat-card-header class="example-header">
            <mat-card-title>
              <h3 style="font:bold">{{band.title}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{band.imageurl}}" alt="band-group-name" style="height: 285px;">
          <mat-card-content>
            <p>
              {{band.content}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button color ="warn" (click)="deleteBand(band)"><mat-icon>delete</mat-icon> </button>
            <button mat-icon-button color= "primary" style="margin-left:300px;" (click)="updateBand(band)"><mat-icon>update</mat-icon></button>

          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
    <button mat-fab style="position:fixed;bottom: 80px;right: 80px;" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-list>
</div>