<div>
    
    <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword($event)"> 
        <mat-form-field style="width:100%">
            <input matInput formControlName="username" placeholder="User Name">
            <mat-error *ngIf="changePasswordForm.get('username').hasError('required')">username is required</mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <input matInput formControlName="password" placeholder="Current Password" type="password">
            <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">password is required</mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <input matInput formControlName="newPassword" placeholder="New Password" type="password">
            <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">New Password is required</mat-error>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <input matInput formControlName="confirmPassword" placeholder="Confirm New Password" type="password">
        </mat-form-field>
        <div *ngIf="message" class="alert alert-danger">{{message}}</div>
        <mat-progress-bar mode="indeterminate" *ngIf="loading" style="margin: 5px"></mat-progress-bar>
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button mat-raised-button type="submit" style="margin:50px;"[disabled]="!changePasswordForm.valid">Save</button>
    </form>
</div>